body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:400px;
  height:120px;
}
#u13584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u13584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u13585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u13586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u13587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u13589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u13590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u13591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u13592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u13593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u13594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u13595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u13596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u13597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u13598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:417px;
  height:48px;
  display:flex;
}
#u13599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
